
<div>
	<fs-duration fs-time="0" fs-abr="false"></fs-duration> - 0 seconds
</div>

<div>
	<fs-duration fs-time="1000" fs-abr="true" fs-remainder="string" fs-limit-hour="300000" fs-limit-minute="100"></fs-duration> - 1000 seconds
</div>

<div>
	<fs-duration fs-time="time" fs-abr="true" fs-limit-hour="300000"></fs-duration> - {{time}} seconds
</div>

<div>
	<fs-duration fs-time="513" fs-abr="true" fs-limit-hour="300000"></fs-duration> - 513 seconds
</div>


<div>
	<fs-duration fs-time="time" fs-abr="true" fs-unit="hour" fs-limit-hour="300000"></fs-duration> - {{time}} hours
</div>
<div>
	<fs-duration fs-time="time" fs-abr="true" fs-unit="hour"></fs-duration> - {{time}} hours
</div>
