
<form fs-validate="submit()">
	<fs-duration fs-label="{{label}} (change)" fs-model="duration" fs-change="change($event)" fs-required="required" fs-disabled="disabled" fs-class="md-no-message md-block"></fs-duration>

	<h3>{{duration}} minutes | {{duration * 60 | fsDateGranularDuration}}</h3>


	<fs-duration fs-label="No days" fs-model="duration1" fs-days="false" fs-class="md-block"></fs-duration>

	<fs-duration fs-label="Only hours" fs-model="duration2" fs-days="false" fs-minutes="false" fs-class="md-block"></fs-duration>

	<fs-duration fs-label="Everything" fs-model="duration3" fs-seconds="true" fs-days="true" fs-months="true" fs-years="true" fs-class="md-block"></fs-duration>

	<md-button type="submit">Submit</md-button>

	<a href ng-click="toggle()">Toggle</a>
	<a href ng-click="update()">Update</a>


<!-- <br/><br/><br/>
	Prefill tests<br/><br/>
	<div ng-repeat="dur in durations">
		minutes: {{dur.mins}}    goal: {{dur.goal}}<br/>
		<fs-duration fs-label="test1" fs-model="dur.mins" fs-options="{years:false,months:false}"></fs-duration>
	</div>
 -->

</form>
