
<form fs-validate="submit()">
	<fs-duration fs-label="{{label}}" fs-model="duration" fs-change="change($event)" fs-required="required" fs-disabled="disabled" fs-class="md-no-message"></fs-duration>

	<h3>{{duration}} | {{duration * 60 | fsDateDuration}}</h3>


	<md-button type="submit">Submit</md-button>

	<a href ng-click="toggle()">Toggle</a>
	<a href ng-click="update()">Update</a>


<!-- <br/><br/><br/>
	Prefill tests<br/><br/>
	<div ng-repeat="dur in durations">
		minutes: {{dur.mins}}    goal: {{dur.goal}}<br/>
		<fs-duration fs-label="test1" fs-model="dur.mins" fs-options="{years:false,months:false}"></fs-duration>
	</div>
 -->

</form>
